<head>
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="susurrus.css">
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	
</head>

<body>
	
	<div id=sus-head>
		
		<span>Chaos</span>
		<span>Populi</span>
		
	</div>
	
	<div id=sus-body>
		
		
		<!-- DICE -->
		<div v-if="page == 'dice'" class="sus-page" v-cloak>
			<div id="sus-dice-cont">
				<div v-for="num in dice.values" class="sus-dice-dice">
					<span class="sus-dice-text">{{ num }}</span>
				</div>
			</div>
		</div>
		
		
		<!-- TEST 2 -->
		<div v-else-if="page == 't2'" class="sus-page" v-cloak>
			TEST 2
		</div>
		
		
		<!-- NOT FOUND -->
		<div v-else class="suspage" v-cloak>
			<span style="font-weight:100; font-size:80px; user-select:none;">ABSENTIS</span>
		</div>
		
		
	</div>
	
	<script src='susurrus.js'></script>
	
</body>
